@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$font: 'Raleway', sans-serif;
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$veryDarkBlue: hsl(229, 57%, 11%);

body {
    font-family: $font;
}

.title {
    color: $paleBlue;
    font-size: 14px;
    font-weight: 400;
    span {
        font-weight: 700;
        
    }
}

.zero {
    font-size: 13px;
    color: $paleBlue;
    font-weight: 700;
}

.left {
    font-size:  3.088rem;
    color: $veryDarkBlue;
    font-weight: 700;
    @include media-breakpoint-up(lg){
        font-size: 2.088rem;
    }
    span {
        font-size: 1rem;
        color: $grayishBlue;
    }
}
